
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="sticky-bottom">
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Preços</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Termos</a></li>
    </ul>
    <p class="text-center text-muted">© 2024 ClubePJ</p>
  </footer>
</div>